<!DOCTYPE html>

{%  load static %}

<html>
    <head>
        <title>Rango/About</title>
    </head>
    <body>
        <h1>Rango says...</h1>
        <div>
         hey there is the about page<br />
         <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/">Home</a><br />
            <img    src="{% static 'images/rango.png' %}"
                    width="50"
                    heigh="50"
                    alt="Picture of Rango"/><!--New line-->
        </div>
        <div>
            <img src="{{ MEDIA_URL }}dog.jpg"
                 alt="Picture of dog"
            width="500"
            height="500"/>



        </div>


    </body>
</html>